<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>player_run1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 16}, {46, 80}}</string>
			<key>spriteOffset</key>
			<string>{4, -8}</string>
			<key>spriteSize</key>
			<string>{46, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 82}, {46, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 13}, {48, 82}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{48, 82}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 164}, {48, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 13}, {54, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{54, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {54, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 17}, {50, 78}}</string>
			<key>spriteOffset</key>
			<string>{4, -8}</string>
			<key>spriteSize</key>
			<string>{50, 78}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 164}, {50, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 17}, {44, 78}}</string>
			<key>spriteOffset</key>
			<string>{6, -8}</string>
			<key>spriteSize</key>
			<string>{44, 78}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 0}, {44, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 13}, {44, 82}}</string>
			<key>spriteOffset</key>
			<string>{6, -6}</string>
			<key>spriteSize</key>
			<string>{44, 82}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 164}, {44, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 13}, {46, 82}}</string>
			<key>spriteOffset</key>
			<string>{4, -6}</string>
			<key>spriteSize</key>
			<string>{46, 82}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 80}, {46, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 13}, {52, 80}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{52, 80}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 82}, {52, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 17}, {46, 78}}</string>
			<key>spriteOffset</key>
			<string>{2, -8}</string>
			<key>spriteSize</key>
			<string>{46, 78}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 0}, {46, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 17}, {40, 78}}</string>
			<key>spriteOffset</key>
			<string>{5, -8}</string>
			<key>spriteSize</key>
			<string>{40, 78}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 80}, {40, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 17}, {42, 78}}</string>
			<key>spriteOffset</key>
			<string>{6, -8}</string>
			<key>spriteSize</key>
			<string>{42, 78}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 0}, {42, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>player_run9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 13}, {40, 82}}</string>
			<key>spriteOffset</key>
			<string>{4, -6}</string>
			<key>spriteSize</key>
			<string>{40, 82}</string>
			<key>spriteSourceSize</key>
			<string>{80, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 164}, {40, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>player_run</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>player_run</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>player_run</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>